body{
    text-align: center;
    margin: 50px;
}

.gameArea{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    display: flex;
    justify-content: space-around;
}